@model Encuesta_MVC.Models.Preguntas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Preguntas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enunciado)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orden)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descipcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descipcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
