@model IEnumerable<Encuesta_MVC.Models.Preguntas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descipcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(model => item.Orden)
            </td>
            <td>
                @Html.DisplayFor(model => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descipcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
